<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src='https://cdn.tailwindcss.com'></script>
</head>

<body>
    <div class="main w-ful h-screen bg-zinc-800 p-10 flex flex-col gap-5">
        <h1 class="text-zinc-300 text-3xl">Create Account</h1>
        <form action="/register" method="post" class="flex flex-col w-80 gap-3" enctype="multipart/form-data">
            <input class="bg-zinc-700 border-2 border-zinc-600 rounded-lg px-3 py-2 text-zinc-300 outline-none"
                type="text" placeholder="Name" name="name">
            <input class="bg-zinc-700 border-2 border-zinc-600 rounded-lg px-3 py-2 text-zinc-300 outline-none"
                type="email" placeholder="Email" name="email">
            <input class="bg-zinc-700 border-2 border-zinc-600 rounded-lg px-3 py-2 text-zinc-300 outline-none"
                type="password" placeholder="Password" name="password">
            <button type="submit" class="bg-blue-500 text-white py-1 w-fit px-6 rounded-lg">Register</button>
        </form>
    </div>
</body>

</html>